
.store {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.header {
  position: relative;

  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
  }
}

.product {
  display: inline-block;
  width: 250px;
  border: 1px solid gray;
  border-radius: 10px;
  color: white;
  padding: 20px;
  background: #282c34;
  transition-duration: 200ms;
  box-shadow: 5px 8px 8px rgba(0,0,0,.2);

  &:hover {
    background: #1a1c21;
    transform: scale(1.03);
  }

  h2 {
    margin: 0;
  }

  p {
    text-align: left;
  }
}

.description {
  height: 55px;
  overflow: clip;
  margin-bottom: 0;

  span {
    color: #9b9b9b;
    font-size: 14px;
  }
}